* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.floater {
    /* border: 2px solid red; */
    background: white;
    height: 10rem;
    width: 4rem;
    position: fixed;
    right: 0;
    top: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.floaterIcon {
    transform: scale(1.2);
}

/* .floaterDiv{
} */