* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    height: 0;
}

.mission {
    /* border: 2px solid red; */
    margin-top: 2rem !important;
}

@media only screen and (min-width : 600px) and (max-width : 768px) {
    .imgContainer {
        display: flex !important;
        align-items: center !important;
    }

    .aboutHead {
        font-size: 2.5rem !important;
    }
}

@media only screen and (max-width : 1200px) {
    .missionBox {
        margin-left: 0 !important;
    }

    .aboutHead {
        font-size: 2.3rem !important;
        margin-bottom: 0 !important;
        margin-top: 3rem !important;
    }
}

@media only screen and (max-width : 500px) {
    #about {
        height: 5rem;
    }
}