* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    height: 0;
}

.missionImgContainer {
    /* border: 2px solid red; */
    height: 27rem;
    display: flex;
    justify-content: flex-end;
}

.missionImg {
    /* border: 2px solid red; */
    height: 100%;
}

/* .missionBox {
    padding: 4rem;
} */

@media only screen and (max-width : 600px) {
    .missionImgContainer {
        height: 20rem;
        width: 80%;
        margin: auto;
    }

    .aboutHead {
        font-size: 2.2rem !important;
    }
}


@media only screen and (min-width : 600px) and (max-width : 768px) {
    .missionImgContainer {
        height: 20rem;
    }

    .imgContainer {
        display: flex !important;
        align-items: center !important;
    }

    .aboutHead {
        font-size: 2.4rem !important;
    }

    #aboutInfo {
        font-size: 0.8rem !important;
    }
}


@media only screen and (max-width : 900px) {
    .missionBox {
        margin-left: 0 !important;
        /* padding: 3rem 2rem; */
        padding: 0 1rem;
    }
}

@media only screen and (min-width : 900px) and (max-width : 1200px) {
    .missionBox {
        margin-left: 0 !important;
        padding: 3rem 0;
    }

    .aboutHead {
        font-size: 2.3rem !important;
        margin-bottom: 2rem !important;
    }
}