* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RECORD */

.record {
    /* border: 2px solid red; */
    /* text-align: center; */
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* WHO WE ARE */

.whoWeAre {
    /* border: 2px solid red; */
    margin-top: 4rem !important;
}

/* OUR MISSION */

.mission {
    /* border: 2px solid red; */
    margin-top: 2rem !important;
}