* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    /* border: 2px solid red; */
    height: 6rem;
}

#about {
    /* border: 2px solid red; */
    height: 7rem !important;
    margin-top: -6rem !important;
}

/* MEDIA QUERY */

@media only screen and (max-width : 600px) {
    #home {
        height: 4rem;
    }

    .homeTextBox {
        margin-top: 3rem !important;
    }

    .homeHead {
        font-size: 2rem !important;
        text-align: center;
    }

    .homeDesc {
        font-size: 1rem !important;
    }

    #about {
        height: 10rem !important;
        margin-top: 8rem !important;
    }
}

@media only screen and (max-width : 400px) {
    #about {
        height: 7rem !important;
    }
}

@media only screen and (min-width : 600px) and (max-width : 992px) {
    .homeHead {
        font-size: 2.5rem !important;
    }

    .homeDesc {
        font-size: 1rem !important;
    }

    #homeImgContainer {
        margin: auto 1rem auto 1.8rem !important;
    }

    #about {
        height: 4rem !important;
        margin-top: -6rem !important;
    }
}

@media only screen and (min-width : 600px) and (max-width : 768px) {
    .homeHead {
        font-size: 2rem !important;
    }

    .homeDesc {
        font-size: 0.8rem !important;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1200px) {
    #about {
        margin-top: -8rem !important;
    }

    .homeDesc {
        font-size: 1rem !important;
    }
}