* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact {
    /* border: 2px solid red; */
    height: 6rem;
    background: #F1F6FA;
}

.contactDiv {
    /* border: 2px solid red; */
    background: #F1F6FA;
    padding: 1rem 4rem 4rem 4rem !important;
}

.contactType {
    color: #9497A1;
}

.contactInfo {
    font-weight: bold;
}

.contactLink {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.formOuterDiv {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.formDiv {
    /* border: 2px solid red; */
    width: 80%;
    height: 100%;
    margin: auto;
    background: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputDiv {
    margin: 1rem 1rem 1rem 2.5rem !important;
}

.inputLabel {
    color: #9497A1;
}

.formBtn {
    width: 6rem;
    color: white !important;
    margin-left: auto !important;
}