* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.launchBtn {
    background: #185CFF !important;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem !important;
    font-size: 1rem !important;
    text-transform: none !important;
    font-weight: bold !important;
    border-radius: 3rem !important;
}

#bitsaudi,
#bitwallet {
    /* background-color: red; */
    height: 6rem;
}

/* MEDIA QUERY */

@media only screen and (max-width : 600px) {
    .aboutImg {
        width: 80% !important;
        margin: auto;
    }

    .solutionHead {
        font-size: 2.3rem !important;
        margin: 0 !important;
    }

    .solution {
        font-size: 2rem;
    }

    #bitsaudi,
    #bitwallet {
        height: 2rem;
    }

    .solutionInfo {
        margin-bottom: 2rem !important;
    }

    .launchBtn {
        display: block;
        margin: auto;
        width: 40%;
        text-align: center;
    }
}

@media only screen and (min-width : 600px) and (max-width : 768px) {
    #solutionImgContainer {
        display: flex;
        align-items: center;
    }
}