* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarTitle {
    width: auto;
    max-width: 150px;
    /* Adjust the value as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: 'black';
}