* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarTitle {
    width: auto;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: 'black';
}

.navbarLinks {
    text-decoration: none;
    color: white;
    margin: auto;
}

.dropdownLinks {
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    margin: 0.5rem 0;
    padding: 4px 10px;
}

.dropdownLinks:hover {
    background: rgb(244, 244, 244)
}

/* MEDIA QUERY */

@media only screen and (min-width : 600px) and (max-width : 768px) {
    .navbarLinks {
        font-size: 0.8rem;
    }
}