* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footerDiv {
    /* border: 2px solid red; */
    padding: 2rem !important;
    background: #F1F6FA;
}

/* .linksContainer {
    padding: 0;
}

.linksContainer p {
    color: black;
    font-weight: bold;
}

.footerBtn {
    text-transform: none !important;
    display: block !important;
    color: black !important;
    text-decoration: none;
    font-size: 14px;
    margin: 8px 0;
} 

.footerLink {
    font-weight: bold;
    text-decoration: none;
    color: black;
} */

.footerIcons {
    border-radius: 50%;
    /* color: white; */
    color: #185CFF;
    margin: 0 0 0 2.5rem;
    transform: scale(1.4);
    cursor: pointer;
}

@media only screen and (max-width : 600px) {
    .footerDiv {
        padding: 0 !important;
    }

    #footerLogo {
        text-align: center !important;
    }

    #footerIcons {
        text-align: center !important;
        display: block !important;
    }
}