* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footerDiv {
    /* border: 2px solid red; */
    padding: 2rem !important;
    background: #F1F6FA;
}

.footerIcons {
    border-radius: 50%;
    color: #185CFF;
    margin: 0 0 0 2.5rem;
    transform: scale(1.4);
    cursor: pointer;
}

@media only screen and (max-width : 600px) {
    .footerDiv {
        padding: 0 !important;
    }

    #footerLogo {
        text-align: center !important;
    }

    #footerIcons {
        text-align: center !important;
        display: block !important;
    }
}