/* .gamingDiv {
    position: absolute;
}

.gamingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(94 94 94 / 50%);
    z-index: -1;
} */

/* .gamingOverlay {
    position: relative;
}

.gamingOverlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5);
    z-index: 1;
} */

.slider-container {
    /* display: flex; */
    overflow-x: hidden;
    /* justify-content: center; */
    /* align-items: center; */
}

#gaming {
    height: 6rem;
}

/* .slider-card {
    max-width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.slider-card.centered {
    z-index: 1;
}

.sliderImg {
    object-fit: cover;
}

.sliderCaption {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
} */