*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.slider-container {
    overflow-x: hidden;
}

#gaming {
    height: 6rem;
}

@media only screen and (max-width : 450px){
    .gamingDiv{
        background-position: -10rem 0 !important;
    }
}