* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#itservices {
    /* background-color: red; */
    height: 6rem;
    margin-top: -3rem;
}

.serviceDiv {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F6FA;
    padding-top: 2rem;
}

/* MEDIA QUERY */

@media only screen and (max-width : 600px) {
    .cardContent {
        padding: 5px !important;
    }
}

@media only screen and (max-width : 600px) {
    .serviceCardContainerDiv {
        padding: 0 1rem 0 2.5rem !important;
    }

    .serviceCard {
        padding: 0 !important;
        padding-top: 1rem !important;
    }

    .serviceCardTitle {
        font-size: 1.1rem !important;
    }
}


@media only screen and (max-width : 768px) {
    .serviceDesc {
        width: 90% !important;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
    .serviceDesc {
        width: 70% !important;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1200px) {
    .serviceCardContainerDiv {
        padding: 0 1rem 0 2.5rem !important;
    }

    #itservices {
        margin-top: 0;
    }
}